
<!--<div class="container">
    <table class="table table-bordered">
        <thead>
            <th>productSellerId</th>
            <th>productId</th>
            <th>productBrand</th>
            <th>productCategory</th>
            <th>productFullName</th>
            <th>productDescription</th>
            <th>sellerId</th>
            <th>sellerName</th>
            <th>sellerPrice</th>
            <th>sellerMrp</th>
            <th>sellerDiscount</th>
            <th>customerRating</th>
            <th>sellerUrl</th>
        </thead>
        <tbody>
            <tr *ngFor="let laptop of filteredData">
                <td>{{laptop.productSellerId}}</td>
                <td>{{laptop.productId}}</td>
                <td>{{laptop.productBrand}}</td>
                <td>{{laptop.productCategory}}</td>
                <td>{{laptop.productFullName}}</td>
                <td>{{laptop.productDescription}}</td>
                <td>{{laptop.sellerId}}</td>
                <td>{{laptop.sellerName}}</td>
                <td>{{laptop.sellerPrice}}</td>
                <td>{{laptop.sellerMrp}}</td>
                <td>{{laptop.sellerDiscount}}</td>
                <td>{{laptop.customerRating}}</td>
                <td>{{laptop.sellerUrl}}</td>

            </tr>
        </tbody>
    </table>
</div>
-->
